.allInOne {
  background-color: $color-dixa-light;
  height: auto;
  transform: translateY(130px);
  padding: 50px 0px 50px 0px;
  .allInOne-items {
    display: flex;
    .item {
      flex: 1;
      text-align: center;
      padding: 0px 30px 0px 30px;
    }
  }
}

@mixin displayAsColumns($imgWidth) {
  .allInOne {
    padding-top: 10px;
    .allInOne-items {
      flex-direction: column;
      .item {
        margin-top: 30px;
      }
      .img-small {
        width: $imgWidth;
      }
    }
  }
}

@media #{$tablet-small} {
  @include displayAsColumns(170px);
}

@media #{$phone} {
  @include displayAsColumns(150px);
}

@media #{$tablet} {
  .allInOne-items {
    .img-small {
      width: 170px;
    }
  }
}
