.priority {
  height: auto;
  padding: 0px 0px 100px 0px;
  transform: translateY(130px);
}

#priorityImg {
  width: 400px;
}

@mixin hideImgAndCenter() {
  .priority-left-wrapper {
    display: none !important;
  }
  .priority-right-wrapper {
    text-align: center;
  }
}

@media #{$tablet-small} {
  @include hideImgAndCenter();
}

@media #{$phone} {
  @include hideImgAndCenter();
}
