//COLORS
$color-dixa-blue: #5A43E0;
$color-dixa-very-blue: #4231A3;
$color-dixa-grey: #DBD5E8;
$color-dixa-black: #191919;
$color-dixa-salmon: #FB9F9F;

//GRADIENTS
$gradient-dixa-main: linear-gradient(45deg, #4398FF , #7A38FF);

//FONTS
$font-primary: 'Open Sans', sans-serif;
$font-headers: 'Montserrat', sans-serif;
$font-long-texts: 'Vollkorn', serif;

.icon-big {
  width: 80px;
  height: auto;
}

//BUTTONS
.btn {
  border-radius: 20px;
  padding: 7px 27px 7px 27px;
}

.btn-main {
  color: white;
  // background-color: $color-dixa-blue;
  background: $gradient-dixa-main;
  &:hover {
    color: white;
  }
}

.btn-secondary {
  color: $color-dixa-blue;
  border: 2px solid $color-dixa-blue;
  background-color: white;
  font-weight: bold;
}

//HEADERS
h1 {
  font-family: $font-headers;
  color: $color-dixa-very-blue;
}

//TEXTS
.description {
  font-size: 16px;
}
