//COLORS
$color-dixa-blue: #5A43E0;
$color-dixa-very-blue: #4231A3;
$color-dixa-grey: #DBD5E8;
$color-dixa-black: #191919;
$color-dixa-salmon: #FB9F9F;
$color-dixa-onyx: #393939;
$color-dixa-baby-powder: #FCFCFC;
$color-dixa-gainsboro: #DCDCDC;
$color-dixa-light: #F7F7F7;

//GRADIENTS
$gradient-dixa-main: linear-gradient(45deg, #4398FF , #7A38FF);

//FONTS
$font-primary: 'Open Sans', sans-serif;
$font-headers: 'Montserrat', sans-serif;
$font-long-texts: 'Vollkorn', serif;

//MEDIA
$desktop: "(min-width: 1024px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$tablet-small: "(min-width: 481px) and (max-width: 767px)";
$phone: "(min-width: 320px) and (max-width: 480px)";


.icon-big {
  width: 80px;
  height: auto;
}

.icon-small {
  width: 50px;
  height: auto;
}

.imgSmall {
  width: 200px;
  height: auto;
}

//BUTTONS
.btn {
  border-radius: 20px;
  padding: 9px 30px 9px 30px;
  -webkit-box-shadow: 0px 0px 27px -11px rgba(66,49,163,0.69);
  -moz-box-shadow: 0px 0px 27px -11px rgba(66,49,163,0.69);
  box-shadow: 0px 0px 27px -11px rgba(66,49,163,0.69);
}

.btn-main {
  color: white;
  // background-color: $color-dixa-blue;
  background: $gradient-dixa-main;
  &:hover {
    color: white;
  }
}

.btn-secondary {
  color: $color-dixa-blue;
  border: 2px solid $color-dixa-blue;
  background-color: white;
  font-weight: bold;
}

.link {
  text-decoration: underline;
  color: $color-dixa-salmon;
}

//HEADERS
h1, h2, h3, h4, h5 {
  font-family: $font-headers;
  font-weight: 500;
  color: $color-dixa-very-blue;
}

//TEXTS
.description {
  font-size: 16px;
}
