.home {
  transform: translateY(100px);
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px 20px 0px;
}

@media #{$tablet} {
  #home-illustration {
    width: 500px !important;
    text-align: center;
  }
}

@media #{$tablet-small} {
  .home {
    flex-direction: column;
  }
  .left-wrapper {
    margin: 0px 50px 0px 50px;
    text-align: center;
  }
  .right-wrapper {
    display: none !important;
  }
}

.left-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin-right: 2%;
  // width: 30% !important;
  .text {
  }
}
.right-wrapper {
  // width: 70%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapped-img {
  margin-right: auto;
  width: 650px;
  height: auto;
}

.home-btn {
  margin: 20px 20px 5px 0px;
}
