@import "../styles/partials.scss";

.navbar-main {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  position: fixed;
  padding: 20px 0px 20px 0px;
  height: 80px;
  font-family: $font-headers;

  -webkit-box-shadow: 0px 3px 27px -6px rgba(220,220,220,0.52);
  -moz-box-shadow: 0px 3px 27px -6px rgba(220,220,220,0.52);
  box-shadow: 0px 3px 27px -6px rgba(220,220,220,0.52);

  padding-left: 9%;
  padding-right: 9%;
  background-color: white;
  z-index: 2;
  border: none;
  .navbar-home {
  }
  .navbar-items {
    list-style: none;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    .navbar-text-items {
      display: flex;
      .navbar-item {
        margin: 0px 20px 0px 20px;
        padding: 10px 0px 10px 0px;
        text-transform: capitalize;
      }
      .navbar-link {
        text-decoration: none;
        color: $color-dixa-black;
      }
      .navbar-link-with-arrow {
        position: relative;
        transform: translatey(75%);
        display: inline;
        top: -75%;
        .icon-link {
          position: relative;
          transform: translatey(88%);
          top: -88%;
          margin-left: 10px;
        }
      }
    }
  }
}

#hamburger {
  margin-right: 20px;
  display: none;
}

@mixin hideTextItems() {
  .navbar-main {
    .navbar-items {
      .navbar-text-items {
        display: none;
      }
    }
  }
  #hamburger {
    display: block;
  }
}

@media #{$tablet} {
  @include hideTextItems();
}

@media #{$tablet-small} {
  @include hideTextItems();
}

@media #{$phone} {
  @include hideTextItems();
}
