@import "../styles/partials.scss";

.navbar-main {
  display: flex;
  width: 100%;
  position: fixed;
  padding: 20px 0px 20px 0px;
  height: 80px;
  font-family: $font-headers;
  border-bottom: 1px solid $color-dixa-grey;
  padding-left: 9%;
  padding-right: 9%;
  background-color: white;
  z-index: 2;
  .navbar-home {
  }
  .navbar-items {
    list-style: none;
    margin-left: auto;
    display: flex;
    .navbar-item {
      margin: 0px 20px 0px 20px;
      line-height: 40px;
      text-transform: capitalize;
    }
  }
}
