@import "./styles/partials.scss";
@import "./styles/App.scss";
@import "./Navbar/navbar.scss";
@import "./Home/home.scss";
@import "./FourRects/fourRects.scss";
@import "./Footer/footer.scss";
@import "./AllInOne/allinone.scss";
@import "./Presence/presence.scss";
@import "./Priority/priority.scss";
@import "./Personalization/personalization.scss";
@import "./Try/try.scss";

body {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  color: $color-dixa-black;
}

.container {
  padding: 0 !important;
}
